@import '../../styles/variables';

.newArrivals {
  .title {
    position: relative;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
    color: $one-another-blue;
    &::after {
      position: absolute;
      content: '';
      width: 60px;
      height: 7px;
      background: currentColor;
      bottom: -15px;
      left: 0;
    }
  }

  .subTitle {
    position: relative;
    font-size: 20px;
    font-weight: 500;
    color: $dark-blue;
    margin: 10px 0px 35px 0px;
    &::after {
      position: absolute;
      content: '';
      width: 30px;
      height: 3px;
      background: currentColor;
      bottom: -10px;
      left: 0;
    }
  }
}

.infoImage {
  max-height: 400px;
  display: flex;
  margin: auto;
}
